name: Fetch levelo Data every 10 min

on:
  schedule:
    # Toutes les 10 min en UTC — correspond à toutes les 10 min heure de Paris via TZ
    - cron: "*/10 * * * *"
  workflow_dispatch: {}

jobs:
  fetch:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Paris
      EXPORT_URL: "https://data.ampmetropole.fr/api/explore/v2.1/catalog/datasets/gbfs-extract-station-information/exports/csv"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Make dirs
        run: mkdir -p snapshots

      - name: Download CSV (with retries)
        run: |
          TS=$(date +'%Y-%m-%d_%H-%M')
          FILENAME="snapshots/levelo_${TS}.csv"

          for i in 1 2 3; do
            curl -fL --retry 3 --retry-delay 5 "$EXPORT_URL" -o "$FILENAME" && break || sleep 10
          done

          test -s "$FILENAME"

      - name: Configure git
        run: |
          git config user.name "levelo-bot"
          git config user.email "levelo-bot@users.noreply.github.com"

      - name: Push changes with PAT
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git remote set-url origin https://x-access-token:${GH_TOKEN}@github.com/${{ github.repository }}.git
          git add snapshots/levelo_*.csv
          git commit -m "snapshot: $(TZ=Europe/Paris date '+%Y-%m-%d %H:%M:%S %Z')" || exit 0
          git push origin HEAD:${GITHUB_REF#refs/heads/}
